#logo {
  max-height: 40px;
  width: auto
}
hay ma nhi van de la banj cove nhieu thu cung mot lcus quá nên mới bị stress như vậy @@ thôi h ohair tập trung vào 1 mục tiêu chính thôi :v
nav {
  padding: 10px 0px 10px 0px;
  border-top: 0.7;
  margin-top: ;
  border-bottom: 0.7;
  box-shadow: 0px 1px 1px 0.5px;
}
nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.nav li {
  display: inline-block;
  width: 20%
  margin-left: 0px;
  margin-right: 0px;
}

.nav a {
  text-decoration: none;
}
#article-tittle {
  font-size: 4em;
  font-family: 'Spectral '}
#article-subtitle {
  font-size: 2em;
  font-style: italic;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 8px 0px 8px;
}
.article-heading: {
  border-bottom: 0.7px;
}

.related-article {

}
.article-ralated {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  margin-left: 50px;
}

ahihi buồn ngủ vch @@

.most-popular {
  chịu thôi :( ;
    vertical- study by myself =))
}

.Illusion
