<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <title>The New Yorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="This is cover image">
    <ul>
      <li> <a href="#">News</a> </li>
      <li> <a href="#">Culture</a> </li>
      <li> <a href="#">Books</a> </li>
      <li> <a href="#">Humor</a> </li>
    </ul>
    <div><a href="#">Books</a></div>
    <div><a href="#">November 27, 2017 Issue</a></div>
    <p> <h3>What Mary Oliver's Critis Don't Understand</h3> </p>
    <p> <h2>For America's most beloved poet, paying attention to nature is a springboard to the sacred.</h2> </p>
    <p> By <a href="#">Ruth Franklin</a> </p>
    <ul>
      <li> <a href="https://www.facebook.com/mcl.hola" target= "_blank"> <img src="static/facebook.svg" alt="Facebook logo"> </a> </li>
      <li> <img src="static/twitter.svg" alt="Twitter logo"> </li>
      <li> <img src="static/email.svg"  alt="Email logo"> </li>
      <li> </li>
      <img src="static/img.jpg" width="full sreen" alt="Theme image" aria-hidden="true" data-reacted='135'>
      <p>Oliver uses nature as a springboard to the sacred - the beating heart of her work.</p>
      <span style="font-size: 13px"> Illustration by Deanna Halsall </span>
    </ul>
    <p> "Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<a href="#">The Anthologist</a>," scrawls in the margins of Oliver's " <a href="#">New and Selected Poems</a>, <a href="#">Volume One</a>." A
      strunggling poet, Chowder is suffering from a server case of writer's block. His girlfriend, with whom he's for eight years, has left him, ostensibly, because he has unable to write the
      long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones - Louise Bogan, Theodore Roethke,
      Sara Teasdale - before discovering Oliver. In her work, he finds consolation:"I immediately felt more sure of what i was doing." Of her poems, he says, "They's very simple. At yet each has
      something."</p>
      <ul style="list-style-type:none;">
        <li>I don't know exactly what a prayer is.</li>
        <li>I do know how to pay attention, how to fall down</li>
        <li>into the grass, how to kneel down in the grass,</li>
        <li>how to be idle and blessed, how to stroll through the fiels,</li>
        <li>which is what i have been doing all day.</li>
      </ul>
      <p>The cadences are almost Biblical."Attention is the beginning of devotion," she urges elsewhere.</p>
      <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
      <p> <h3>Most Popular</h3> </p>
      <ol type="1.">
        <li> <br> Letter from Washington</li>
        <p> <a href="#"> <h5>The Danger of President Pence</h5></a> </p>
        <p> By <a href="#">Jane Mayer</a> </p>
        <li> <br> Ours Columnists</li>
        <p> <a href="#"> <h5>No End in Sight to the Brexit Madness</h5> </a> </p>
        <p> By <a href="#"> John Cassidy</a></p>
        <li> <br> Satire from The Borowitz Report </li>
        <p> <a href="#"> <h5>Mueller Rents Giant Warehouse to Store Evidence Against Trump </h5></a> </p>
        <p> By <a href="#">Andy Borowitz</a> </p>
      </ol>
      <p>Daily Cartoon</p>
      <p> <a href="#"> <h2>Daily Cartoon: Friday, November 24th</h2> </a> </p>
      <p> <h3>Forgetting the garnish.</h3> </p>
      <p> By <a href="#">Liana Finck</a> </p>
      <p> Nov, 24, 2017 <br> Elements </p>
      <p> <a href="#"> <h2>At Berkeley, a New Generation of Ethinical Hackers Learns the Do's and Don'ts of Cybersecurity</h2> </a> </p>
      <p> <h3>How long would it take a junior computer-science major to disrupt an election?</h3> </p>
      <p> By <a href="#">Anna Wiener</a> </p>
      <p>Nov, 24, 2017</p>
      <p> <a href="#"> <h4>Listen to the New York Radio Hour</h4> </a> </p>
      <p> <a href="#"> <h4>Buy the Cover</h4> </a> </p>
      <p> <a href="#"> <h4>Play the Jigsaw Puzzle</h4> </a> </p>
  </body>
</html>
