<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inspiration <3</title>
    <link rel="stylesheet" href="/static/ser01.css">
  </head>
  <body>
    <p> <h5> Whenever you feel lose your own way, just read it again. Remember one thing that you just live once, it means: "Your time is limited. Don't waste it living someone else's life. "<p> <h5>
    <p> <h3>"Whether you think you can or can't, you are right." (Henry Ford)</h3> </p>
    <p> <h3>"Stay hungry. Stay foolish. " (Steves Jobs)</h3> </p>
    <p> <h3> "No pain, no gian."</h3> </p>
  </body>
</html>
